*.swp
*/*.swp
*/*/*.swp
bonus/srcs/libft/libft.a
srcs/libft/libft.a
a.out
so_long
so_long_bonus
srcs/*.o
srcs/libft/*.o
bonus/srcs/*.o
bonus/srcs/libft/*.o
assets/png
assets/*.tar
keys.c
keys
test.c
test_anim.c
